<% if current_user.likes.where(flat: flat).empty? %>
  <%= link_to("#", method: "post", action: 'create',
    data: {
      controller: "like",
      action: "click->like#add",
      like_flat_value: flat.id
    }, remote: true) do %>
    <i class="fa-regular fa-heart" data-like-target="like"></i>
  <% end %>
<% else %>
  <%= link_to("#") do %>
    <i class="fa-solid fa-heart" data-like-target="like"></i>
  <% end %>
<% end %>

<% if flat.photos.length != 0 %>
  <%= cl_image_tag flat.photos.first.blob.key, crop: :fit %>
<% else %>
  <%= image_tag "house.webp", alt:"house", crop: :fit %>
<% end %>
<%= link_to flat_path(flat) do %>
  <section class="flat-card-info">
    <section class="flat-card-info-public">
      <h6><%= flat.flat_type %> in <%= flat.city %></h6>
      <% if flat.reviews.empty? %>
        <p>No rating yet</p>
      <% else %>
        <p><%= average_rating(flat) %><i class="fa-regular fa-star"></i></p>
      <% end %>
    </section>
    <div class="flat-card-info-price">
      <h6>€<%= flat.price %></h6>
    </div>
  </section>
<% end %>
