<% if params[:query].present? %>
  <div class="searched-map">
    <div class="flats-searched">
      <% @flats.each do |flat| %>
        <div class="flat-card">
          <%= link_to "#" do %>
            <i class="fa-regular fa-heart like"></i>
          <% end %>
          <% if flat.searchable.photos.length != 0 %>
            <%= cl_image_tag flat.searchable.photos.first.blob.key, crop: :fit %>
          <% else %>
            <%= image_tag "house.webp", alt:"house", crop: :fit %>
          <% end %>
          <%= link_to flat_path(flat.searchable) do %>
            <section class="flat-card-info">
              <section class="flat-card-info-public">
                <h6><%= flat.searchable.title %></h6>
                <% if flat.searchable.reviews.empty? %>
                  <p>No rating yet</p>
                <% else %>
                  <p><%= average_rating(flat.searchable) %><i class="fa-regular fa-star"></i></p>
                <% end %>
              </section>
              <div class="flat-card-info-price">
                <h6>€<%= flat.searchable.price %></h6>
              </div>
            </section>
          <% end %>
        </div>
      <% end %>
    </div>

    <div id="map-flats"
      data-controller="map"
      data-map-markers-value="<%= @markers.to_json %>"
      data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


<% else %>
<section class="list-all">
    <% @flats.each do |flat| %>
      <div class="flat-card">
        <%= link_to "#" do %>
          <i class="fa-regular fa-heart like"></i>
        <% end %>
        <% if flat.photos.length != 0 %>
          <%= cl_image_tag flat.photos.first.blob.key, crop: :fit %>
        <% else %>
          <%= image_tag "house.webp", alt:"house", crop: :fit %>
        <% end %>
        <%= link_to flat_path(flat) do %>
          <section class="flat-card-info">
            <section class="flat-card-info-public">
              <h6><%= flat.title %></h6>
              <% if flat.reviews.empty? %>
                <p>No rating yet</p>
              <% else %>
                <p><%= average_rating(flat) %><i class="fa-regular fa-star"></i></p>
              <% end %>
            </section>
            <div class="flat-card-info-price">
              <h6>€<%= flat.price %></h6>
            </div>
          </section>
        <% end %>
      </div>
    <% end %>
  </section>
<% end %>
