<div class="flat">
  <header>
    <h4><%= @flat.title %></h4>
    <div class="flat-links">
      <ul>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-arrow-up-from-bracket"></i> Share
          <% end %>
        </li>
        <li>
          <%= link_to "#" do %>
            <i class="fa fa-heart like"></i> Save
          <% end %>
        </li>
      </ul>
    </div>
  </header>


  <section class="flat-images">
    <% if @flat.photos.length != 0 %>
      <%= cl_image_tag @flat.photos, crop: :fit %>
    <% else %>
      <%= image_tag "house.webp", alt:"house", crop: :fit %>
    <% end %>
  </section>

  <main class="flat-info">
    <section>
      <h3>Hosted by <%= @flat.user.first_name %></h3>
      <p>
        <%= @flat.guests %> guests ·
        <%= @flat.bedrooms %> <%= @flat.bedrooms > 1 ? "bedrooms" : "bedroom" %> ·
        <%= @flat.baths / @flat.guests.to_f.round(1) %> <%= @flat.baths != 1.0 ? "baths" : "bath" %>
      </p>
    </section>
    <section>
      <p><%= @flat.description %></p>
    </section>
    <section>
      <h3>What this place offers</h3>
      <ul>
        <% @flat.flat_amenities.each do |item| %>
          <% if item.has_amenity? %>
            <li><%= item.amenity.name %></li>
          <% else %>
            <li><strike><%= item.amenity.name %></strike></li>
          <% end %>
          <li></li>
        <% end %>
      </ul>
    </section>
    <section>
      <h3>Calendar</h3>
      <p>2 nights in Topas | Jan 25, 2024 - Jan 27, 2024</p>
    </section>
    <section>
      <% if @flat %>
        <h3>No reviews (yet)</h3>
        <p>This host does not have any review yet.</p>
      <% else %>
        <h3>Reviews</h3>
      <% end %>
    </section>
    <section>
      <h3>Where you'll be</h3>
      <p><%= @flat.city %>, <%= @flat.country %></p>
      <div id="map-flat"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </section>

    <section>
      <h3>Hosted by <%= @flat.user.first_name %></h3>
      <p>Joined in <%= @flat.user.created_at %></p>
      <div class="account-data">
        <p><i class="fa-solid fa-star"></i> 9 Review</p>
        <p><i class="fa-solid fa-shield"></i> Identity verified</p>
      </div>
      <div class="contact-host">
        <%= link_to "Contact Host", "#" %>
      </div>
    </section>

    <section>
      <h3>Things to know</h3>
      <div class="things-to-know">
        <ul>
          <strong>House rules</strong>
          <li>Check-in: <%= @flat.checkin.strftime("%H:%m %p") %> - <%= (@flat.checkin + 60*60*4).strftime("%H:%m %p") %></li>
          <li>Checkout before <%= @flat.checkout.strftime("%H:%m %p") %></li>
          <li><%= @flat.guests %> guests maximum</li>

        </ul>
        <ul>
          <strong>Safety & property</strong>
          <li>Carbon monoxide alarm not reported</li>
          <li>Smoke alarm not reported</li>
          <li><%= link_to "Show more", "#" %></li>
        </ul>
        <ul>
          <strong>Cancellation policy</strong>
          <li>This reservation is non-refundable.</li>
          <li>Review the Host’s full cancellation policy which applies even if you cancel for illness or disruptions caused by COVID-19.</li>
          <li><%= link_to "Show more", "#" %></li>
        </ul>
      </div>
    </section>
  </main>

</div>
