<div class="flat">
  <header class="margin-bottom">
    <h4><%= @flat.flat_type %> in <%= @flat.city.titleize %></h4>
    <div class="flat-links">
      <ul>
        <li>
          <%= link_to("#", class: "btn-action-link") do %>
            <i class="fa fa-arrow-up-from-bracket"></i> Share
          <% end %>
        </li>
        <% if @flat.user != current_user %>
          <li>
            <%= link_to("#", class: "btn-action-link") do %>
              <i class="fa fa-heart like"></i> Save
            <% end %>
          </li>
        <% else %>
          <li>
            <%= link_to("Edit", edit_flat_path(@flat), class: "btn-action-link") %>
          </li>
        <% end %>
      </ul>
    </div>
  </header>


  <section class="flat-images">
    <% if @flat.photos.empty? %>
      <div class="main-image">
        <%= cl_image_tag('pw64vj1jlxc1v5iwgp9ysy7nh7cc', gravity: :auto, fetch_format: :auto, crop: :fill) %>
      </div>
    <% else %>
      <div class="main-image">
        <%= link_to flat_photos_path(@flat) do %>
          <%= cl_image_tag(@flat.photos[0].key, gravity: :auto,crop: :fill, class: "room") %>
        <% end %>
      </div>
      <div class="second-image">
        <% if @flat.photos.length > 1 %>
          <% for index in 0..(@flat.photos.length - 1) %>
            <%= link_to flat_photos_path(@flat) do %>
              <%= cl_image_tag(@flat.photos[index].key, gravity: :auto,crop: :fill, class: "room") %>
            <% end %>
          <% end %>
        <% end %>
      </div>
      <%= link_to(flat_photos_path(@flat), class: "show-photos") do %>
        <i class="fa-solid fa-grip-vertical"></i> Show all photos
      <% end %>
    <% end %>
  </section>

  <main class="flat-info">
    <section>
      <h3>Hosted by <%= @flat.user.first_name %></h3>
      <p>
        <%= @flat.guests %> guests ·
        <%= @flat.bedrooms %> <%= @flat.bedrooms > 1 ? "bedrooms" : "bedroom" %> ·
        <%= @flat.baths %> <%= @flat.baths != 1.0 ? "baths" : "bath" %>
      </p>
      <% if average_rating(@flat) >= 0 %>
        <p><%= average_rating(@flat).round(1) %><i class="fa-solid fa-star"></i></p>
      <% else %>
        <p>No rating yet.</p>
      <% end %>
    </section>
    <section>
      <p><%= @flat.description %></p>
    </section>
    <section>
      <h3>What this place offers</h3>
      <ul>
        <% @amenities.each do |item| %>
          <% if @flat.amenities.include? item %>
            <li><%= item.name %></li>
          <% else %>
            <li><strike><%= item.name %></strike></li>
          <% end %>
          <li></li>
        <% end %>
      </ul>
    </section>
    <section>
      <h3>Booking</h3>
      <div class="btn-action">
        <%= link_to "Click to Book", new_flat_booking_path(@flat) %>
      </div>
    </section>
    <section>
      <% if @flat.reviews.empty? %>
        <h3>No reviews (yet)</h3>
        <p>This host does not have any review yet.</p>
      <% else %>
        <h3>Reviews</h3>
        <div class="review-container">
          <% @flat.reviews.sample( @flat.reviews.length > 6 ? 6 : @flat.reviews.max ).each do |review| %>
            <%= render 'review', review: review %>
          <% end %>
        </div>
      <% end %>
      <% if @flat.user != current_user %>
        <div class="btn-action">
          <%= link_to "Post a review", new_flat_review_path(@flat) %>
        </div>
      <% end %>
    </section>
    <section>
      <h3>Where you'll be</h3>
      <p><%= @flat.city.titleize %>, <%= @flat.country.titleize %></p>
      <div id="map-flat"
        data-controller="map"
        data-map-markers-value="<%= @markers.to_json %>"
        data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </section>

    <section>
      <h3>Hosted by <%= @flat.user.first_name %></h3>
      <p>Joined in <%= @flat.user.created_at.strftime('%b %Y') %></p>
      <div class="account-data">
        <p><i class="fa-solid fa-star"></i> <%= @flat.reviews.size %> Review</p>
        <% if @identity_verified %>
          <p><i class="fa-solid fa-shield"></i> Identity verified</p>
        <% else %>
          <p><i class="fa-solid fa-shield-halved"></i> Identity not fully verified</p>
        <% end %>
      </div>
      <% if @flat.user != current_user %>
        <div class="btn-action">
          <%= link_to "Contact Host", flat_open_chat_path(@flat) %>
        </div>
      <% end %>
    </section>

    <section>
      <h3>Things to know</h3>
      <div class="things-to-know">
        <ul>
          <strong>House rules</strong>
          <li>Check-in: <%= @flat.checkin.strftime("%H:%m %p") %> - <%= (@flat.checkin + 60*60*4).strftime("%H:%m %p") %></li>
          <li>Checkout before <%= @flat.checkout.strftime("%H:%m %p") %></li>
          <li><%= @flat.guests %> guests maximum</li>

        </ul>
        <ul>
          <strong>Safety & property</strong>
          <% if @flat.amenities.exclude? "Carbon monoxide alarm" %>
            <li>Carbon monoxide alarm not reported</li>
          <% end %>
          <% if @flat.amenities.exclude? "Smoke alarm" %>
            <li>Smoke alarm not reported</li>
          <% end %>
          <li><%= link_to "Show more", "#" %></li>
        </ul>
        <ul>
          <strong>Cancellation policy</strong>
          <li>This reservation is non-refundable.</li>
          <li>Review the Host’s full cancellation policy which applies even if you cancel for illness or disruptions caused by COVID-19.</li>
          <li><%= link_to "Show more", "#" %></li>
        </ul>
      </div>
    </section>
  </main>

</div>
