<div class="container chatroom"
  data-controller="chatroom-subscription"
  data-chatroom-subscription-chatroom-id-value="<%= @chatroom.id %>">

  <div id="flat-chat">
    <% if current_user.id == @chatroom.host %>
      <% name = 'NoName' if User.find_by(id: @chatroom.host).first_name.nil? %>
      <h1>Chat with <%= name.titleize %></h1>
    <% else %>
      <% name = 'NoName' if User.find_by(id: @chatroom.user_id).first_name.nil? %>
      <h1>Chat with <%= name.titleize %></h1>
    <% end %>


    <%= render "shared/small_card", flat: Flat.find_by(id: @chatroom.flat_id) %>
  </div>

  <div class="messages"
    data-chatroom-subscription-target="messages">
    <% @chatroom.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>
  </div>


  <%= simple_form_for [@chatroom, @message],
    html: { data: { action: "turbo:submit-end->chatroom-subscription#resetForm" }, class: "d-flex" } do |f|
    %>
    <%= f.input :content,
      label: false,
      placeholder: "Write your message",
      wrapper_html: {class: "flex-grow-1"}
    %>
    <%= f.submit "Send", class: "btn-action-small" %>
  <% end %>
</div>
