<section class="booking-form">
  <%= simple_form_for [@flat, @booking], data: { controller: 'flatpickr' } do |f| %>
    <h3>€ <%= @flat.price %> night</h3>
    <section>
      <%= f.input :start_time, as: :string, label: 'Check-in', input_html: { data: { flatpickr_target: "startTime" } } %>
      <%= f.input :end_time, as: :string, label: 'Checkout', input_html: { data: { flatpickr_target: "endTime", action: "blur->flatpickr#updatePrice" }, id: 'endTime' } %>
    </section>
    <%= f.submit "Reserve", class: "btn btn-primary" %>

    <p class="warning"><em>You won't be charged yet</em></p>

    <ul>
      <li>€ <%= @flat.price %> x 2</li>
      <li><%= f.hidden_field :total_price, :as => :hidden, input_html: { data: { flatpickr_target: "priceTotal" }, value: @flat.price, readonly: true } %></li>
    </ul>
    <ul>
      <li>Cleaning fee</li>
      <li>233 €</li>
    </ul>
    <ul class="total">
      <li><strong>Total</strong></li>
      <li><%= @booking.total_price %></li>
    </ul>
  <% end %>
</section>
