<div class="flats-container show-booking">
  <%= link_to(user_bookings_path(user_id: current_user.id), class: "btn-normal") do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

<h2><%= @flat.flat_type %> in <%= @flat.city %></h2>
  <section>
    <% if @flat.photos.length > 0 %>
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <% @flat.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
                <%= cl_image_tag photo.blob.key, class: "d-block", crop: :fit %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>

    <div>
      <div>
        <p>Check-in</p>
        <%= @booking.start_time %>
      </div>
      <div>
        <p>Checkout</p>
        <%= @booking.end_time %>
      </div>
    </div>

    <div>
      <%= link_to "#" do %>
        <h5>Message your host</h5>
        <p><%= @flat.user.first_name %></p>
      <% end %>
    </div>
    <div>
      <h5>Your place</h5>
      <p><%= @flat.description.truncate(60, separator: ' ', omission: '...') %></p>
    </div>
  </section>


  <section>
    <h3>Reservation Details</h3>
    <div>
      <div>
        <h5>Who's coming</h5>
        <p>1</p>
      </div>
      <div class="avatar-container">
        <% if current_user.photo.key %>
          <%= cl_image_tag(current_user.photo.key, gravity: :face, crop: :thumb, class: 'avatar') %>
        <% else %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      </div>
    </div>

  </section>

  <section>
    <h3>Rules and instructions</h3>
    <h5>House rules</h5>
  </section>

  <section>
    <h3>Hosted by <%= @flat.user.first_name %></h3>
    <h5>About your host</h5>
    <p>Something to say</p>
  </section>

  <section>
    <h3>Payment info</h3>
    <h5>Payment details</h5>
    <p>Total cost: € <%= (@flat.price * @booking.booking_dates.length).to_f.round(2) %></p>
  </section>

  <section>
    <h3>Get support any time</h3>
    <p>If you need help, we’re available 24/7 from anywhere in the world.</p>
  </section>

  <%= link_to "Cancel booking", flat_booking_path(flat_id: @flat, booking_id: @bookings), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete btn-long" %>
</div>
<div id="map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
