<div class="flats-container show-booking">
  <%= link_to(user_bookings_path(user_id: current_user.id), class: "btn-normal") do %>
    <i class="fa-solid fa-chevron-left"></i>
  <% end %>

  <h2><%= @flat.flat_type %> in <%= @flat.city %></h2>
  <section>
    <% if @flat.photos.length > 0 %>
      <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
          <% @flat.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index == 0 %>">
                <%= cl_image_tag photo.blob.key, class: "d-block", crop: :fit %>
            </div>
          <% end %>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    <% end %>

    <div id="booking-check">
      <div>
        <p><strong>Check-in</strong></p>
        <p><%= DateTime.parse(@booking.start_time).strftime('%a, %b %d') %></p>
        <p><%= @flat.checkin.strftime('%l:%M %p') %></p>
      </div>
      <div>
        <p><strong>Checkout</strong></p>
        <p><%= DateTime.parse(@booking.end_time).strftime('%a, %b %d') %></p>
        <p><%= @flat.checkout.strftime('%l:%M %p') %></p>
      </div>
    </div>

    <%= link_to("#", class: "document-link") do %>
      <i class="fa-regular fa-message"></i>
      <div>
        <h5> Message your host</h5>
        <p><%= @flat.user.first_name %></p>
      </div>
    <% end %>

    <%= link_to("#", class: "document-link") do %>
      <i class="fa-solid fa-location-dot"></i>
      <div>
        <h5>Your place</h5>
        <p><%= @flat.description.truncate(60, separator: ' ', omission: '...') %></p>
      </div>
    <% end %>
  </section>


  <section class="booking-details">
    <h3>Reservation Details</h3>
    <div class="booking-info-host-guests">
      <div>
        <h5><strong>Who's coming</strong></h5>
        <p>1</p>
      </div>
      <div class="avatar-container">
        <% if current_user.photo.key %>
          <%= cl_image_tag(current_user.photo.key, gravity: :face, crop: :thumb, class: 'avatar') %>
        <% else %>
          <i class="fa-solid fa-user"></i>
        <% end %>
      </div>
    </div>
    <div class="bordered-top">
      <h5><strong>Cancellation policy</strong></h5>
      <p>If its possible to cancel</p>
    </div>
    <%= link_to("#", class: "document-link bordered-top pointer") do %>
      <div>
        <i class="fa-solid fa-globe"></i> Get a PDF for visa purposes
      </div>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
    <%= link_to("#", class: "document-link bordered-top pointer") do %>
      <div>
        <i class="fa-solid fa-print"></i> Print details
      </div>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
    <%= link_to("#", class: "document-link bordered-top pointer") do %>
      <div>
        <i class="fa-solid fa-receipt"></i> Get receipts
      </div>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>

  </section>

  <section class="booking-details">
    <h3>Rules and instructions</h3>
    <h5>House rules</h5>
    <p><%= @flat.guests %> maximum</p>
    <p>Pets allowed</p>
    <p>No parties or events</p>
    <p><%= link_to "Show more", "#" %></p>
    <%= link_to(flat_path(@flat), class: "document-link bordered-top pointer") do %>
      <div>
        <i class="fa-solid fa-house"></i> Show listing
      </div>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
  </section>

  <section class="booking-details">
    <div class="booking-info-host-guests">
      <h3>Hosted by <%= @flat.user.first_name %></h3>
      <%= cl_image_tag @flat.user.photo.key, gravity: :face, crop: :thumb, class: "avatar" %>
    </div>
    <h5>About your host</h5>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga accusantium amet perferendis tempora voluptas dolorem adipisci, dignissimos blanditiis. Officiis perspiciatis laboriosam, veniam nostrum aut et in perferendis expedita. Ea, accusamus?</p>
  </section>

  <section class="booking-details">
    <h3>Payment info</h3>
    <h5>Payment details</h5>
    <p>Total cost: € <%= (@flat.price * @booking.booking_dates.length).to_f.round(2) %></p>
    <%= link_to("#", class: "document-link bordered-top pointer") do %>
      <div>
        <i class="fa-solid fa-calendar-plus"></i> Add details for expensing your trip
      </div>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
    <%= link_to("#", class: "document-link bordered-top pointer") do %>
      <div>
        <i class="fa-solid fa-receipt"></i> Get receipts
      </div>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
  </section>

  <section class="booking-details">
    <h3>Get support any time</h3>
    <p>If you need help, we’re available 24/7 from anywhere in the world.</p>
    <%= link_to("#", class: "document-link pointer") do %>
      <div>
        <i class="fa-brands fa-airbnb"></i> Get Airbnb support
      </div>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
    <%= link_to("#", class: "document-link pointer") do %>
      <div>
        <i class="fa-solid fa-circle-question"></i> Visit the Help Center
      </div>
      <i class="fa-solid fa-chevron-right"></i>
    <% end %>
  </section>

  <%= link_to "Cancel booking", flat_booking_path(flat_id: @flat, booking_id: @booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "btn-delete btn-long" %>
</div>
<div id="map-container"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
