<nav>
  <div id="logo">
    <%= link_to root_path do %>
      <%# <%= cl_image_tag("airbnb-copycat/airbnb-logo_u4e6la.png", alt: "Airbnb", width: 100) %>
      <img src="https://res.cloudinary.com/dylcu4v1a/image/upload/v1706902273/production/airbnb-copycat/airbnb-logo_u4e6la.png" class="big-screen" alt="Airbnb" style="width: 100px;">
      <img src="https://res.cloudinary.com/dylcu4v1a/image/upload/v1710097219/production/airbnb-copycat/airbnb-logo_u4e6la_np4lxp.jpg" class="small-screen" alt="Airbnb" style="width: 29px;">
    <% end %>
  </div>
  <div id="search-field">
    <%= render 'flats/search' %>
  </div>
  <div class="profile">
    <%= link_to "#" do %>
        <i class="fa fa-earth-americas btn-normal big-screen"></i>
      <% end %>
    <% if user_signed_in? %>
      <%= link_to "Airbnb your home", new_flat_path, class: "btn-normal big-screen" %>

      <div class="dropdown">
        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
          <% if current_user.photo.key %>
            <div class="avatar-container">
              <i class="fa-solid fa-bars"></i>
              <%= cl_image_tag(current_user.photo.key, gravity: :face, class: 'avatar') %>
            </div>
          <% else %>
            <div class="avatar-container">
              <i class="fa-solid fa-bars"></i>
              <i class="fa-solid fa-user"></i>
            </div>
          <% end %>
        </a>

        <ul class="dropdown-menu">
          <li><%= link_to "Airbnb your home", new_flat_path, class: "dropdown-item" %></li>
          <li><%= link_to "Your Airbnbs", owned_places_path, class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Favourites", flat_likes_path(current_user.likes), class: "dropdown-item" %></li>
          <li><%= link_to "Trips", user_bookings_path(current_user), class: "dropdown-item" %></li>
          <li><%= link_to "Messages", chatrooms_path, class: "dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Account", edit_user_registration_path(current_user), class: "dropdown-item" %></li>
          <li><%= link_to "Log Out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %></li>
        </ul>
      </div>

    <% else %>

      <div class="dropdown">
        <a href="#" data-bs-toggle="dropdown" aria-expanded="false">
          <div class="avatar-container">
            <i class="fa-solid fa-bars"></i>
          </div>
        </a>

        <ul class="dropdown-menu">
          <li><%= link_to "Log In", new_user_session_path, class: "dropdown-item" %></li>
          <li><%= link_to "Sign Up", new_user_registration_path, class: "dropdown-item" %></li>
        </ul>
      </div>
    <% end %>
  </div>
</nav>
