<div class="flat-small-card">
  <%= link_to flat_path(flat), data: { turbo: false } do %>

    <div class="flat-small-image">
      <% if flat.photos.length != 0 %>
        <%= cl_image_tag flat.photos.first.blob.key, crop: :fit %>
      <% else %>
        <%= image_tag "https://res.cloudinary.com/dylcu4v1a/image/upload/v1706902333/development/airbnb-copycat/main-3_savvci", alt:"house", gratvity: :auto, crop: :fill %>
      <% end %>
    </div>

    <section class="flat-small-card-info">
      <h6><%= flat.country %></h6>
      <p>Hosted by <%= flat.user.first_name %></p>
    </section>
  <% end %>
</div>
