<% @flats.each do |flat| %>
  <div class="flat-card">
    <%= link_to "#" do %>
      <i class="fa-regular fa-heart like"></i>
    <% end %>
    <%= image_tag "house.webp", alt:"house", crop: :fit %>
    <section class="flat-card-info">
      <section class="flat-card-info-public">
        <h6><%= flat.title %></h6>
        <p><%= flat.rating %> <i class="fa-regular fa-star"></i></p>
      </section>
      <% unless flat.description.nil? %>
        <p><%= flat.description %></p>
      <% end %>
      <h6>€<%= flat.price %></h6>
    </section>
  </div>
<% end %>
