<% @flats.each do |flat| %>
  <div class="flat-card">
    <section class="flat-card-image">
      <%= image_tag "house.webp", alt:"house", crop: :fill %>
    </section>
    <section class="flat-card-info">
      <section class="flat-card-info-public">
        <h3><%= flat.title %></h3>
        <p><%= flat.rating %> <i class="fa-regular fa-star"></i></p>
      </section>
      <p><%= flat.description %></p>
      <h4><%= flat.price %>€</h4>
    </section>
  </div>
<% end %>
